.header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.banner-images {
  height: 90vh;
}

.top-content {
  background-color: var(--color-primary);
  display: flex;
  color: #fff;
  align-items: center;
}

.text-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
}

.top-content img {
  width: 3rem;
  height: 3rem;
}

.info-text {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.text-section p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.main-header {
  margin-top: 1rem;
  display: flex;
}

.nav-options {
  display: flex;
}

.logo {
  width: 7rem;
  height: 6.5rem;
  margin-left: 2rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.user__icon-box {
  padding: 1rem;
}

.user__icon-box:hover {
  cursor: pointer;
}

.vertical-line {
  margin-left: 1rem;
  line-height: 1rem;
  font-size: 2rem;
  color: #ccc;
}

.user__icon {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.user__text {
  font-size: 1.3rem;
}

.fa-user-circle {
  font-size: 3rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.5rem;
}

.form-control.input-search {
  width: 250px;
  height: 30px;
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  padding: 1rem 2rem;
  width: 40rem;
  margin-right: -2.3rem;
  outline: none;
  color: #ccc;
}

.search__btn {
  border: none;
  background-color: #fff;
}

.search__icon {
  font-size: 1.5rem;
  color: #ccc;
}

.user {
  display: flex;
}

.header-form {
  display: flex;
  justify-content: flex-end;
}
/* 
.menu-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 1rem;
  color: #fff;
  height: 5rem;
  margin: 0 13rem;
} */

.HealthFiness {
  position: absolute;
  width: 100%;
}
.menu {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu > * {
  text-decoration: none;
}

.banner-carousel {
  position: absolute;
  top: -4rem;
  z-index: -10;
}

.carousel-image {
  width: 100vw;
  height: 90vh;
}

.top-bar__icons {
  color: #fff !important;
  fill: #ccc;
  margin-right: 1rem;
}

.navbar {
  background: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;

  padding: 0 !important;
  height: 100%;
}

.navbar ul {
  margin: 0 !important;
}

.navbar ul li {
  display: inline-block;
  height: 100% !important;
}

.navbar ul li a {
  line-height: 4rem;
  display: block;
}
.navbar > * {
  height: 100%;
}
.navbar li:hover {
  background: blue;
}

ul > li {
  margin: 0 !important;
}
.list-group a {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
}

.list-group a:hover {
  background: var(--color-primary);
  color: #fff;
}

.list-group a span {
  margin-top: 0.8rem;
}

.navbar .nav-item .nav-link {
  color: #eee !important;
}

@media (max-width: 992px) {
  .menu {
    font-size: 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .menu {
    font-size: 1rem;
  }
}
